<% include ../partials/header %>

<script type="text/javascript">

$(document).ready(function () {

var deleteResults = function() {
$.ajax({
    type: 'DELETE',
    url: '/stations/<%=station.stations[0].stationName%>/measures',
    success: function(redirect){
      alert("sucesss");
      window.location=redirect;
    },
    error: function () {
        alert("There was an error processing this page.");
        return false;
    }
})}

var deleteStation = function() {
$.ajax({
    type: 'DELETE',
    url: '/stations/<%=station.stations[0].stationName%>',
    success: function(redirect){
      window.location=redirect;
    },
    error: function () {
        alert("There was an error processing this page.");
        return false;
    }
})}

$("#delete-station").on("click", function (e) {
  e.preventDefault();
  deleteStation();
});
$("#delete-results").on("click", function (e) {
  e.preventDefault();
  deleteResults();
});

});

</script>

<main>

<div>   

<%if(station) {%>

<div><h1>Station: <%=station.stations[0].stationName%> <button id="delete-station" type="button" class="btn btn-danger btn-sm">Delete station</button><div class="pull-right"><button id="delete-results" type="button" class="btn btn-danger btn-sm">Delete results</button></div></h1>

<div class="row">
  <div class="col-md-12" style="padding-left: 0, padding-right: 0"> 
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Temperature</th>
          <th scope="col">Humidity</th>
        </tr>
      </thead>
      <tbody>
        <% $i = 1; station.stations[0].measures.forEach(function(measures) { %>
        <tr>
          <th scope="row"><%=$i%></th>
          <td><%=measures.temperature%>&#176C</td>
          <td><%=measures.humidity%> %</td>
        </tr>
        <%$i++%>
        <%})%>
      </tbody>
    </table>
  </div>

</div>

<%} else {%>
NO FUCKING STATION!
<%}%>



</main>

<% include ../partials/footer %>